@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




    <style>

        @{
            var _marginleft = "0px";
            if (Request.IsAuthenticated)
             {
              _marginleft = "200px";
             }

        }

        .navbar-global {
            background-color: indigo;
        }

            .navbar-global .navbar-brand {
                color: white;
            }

            .navbar-global .navbar-user > li > a {
                color: white;
            }

        .navbar-primary {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .navbar-primary.collapsed {
                width: 60px;
            }

                .navbar-primary.collapsed .glyphicon {
                    font-size: 22px;
                }

                .navbar-primary.collapsed .nav-label {
                    display: none;
                }

        .btn-expand-collapse {
            position: absolute;
            display: block;
            left: 0px;
            bottom: 0;
            width: 100%;
            padding: 8px 0;
            border-top: solid 1px #666;
            color: grey;
            font-size: 20px;
            text-align: center;
        }

            .btn-expand-collapse:hover,
            .btn-expand-collapse:focus {
                background-color: #222;
                color: white;
            }

            .btn-expand-collapse:active {
                background-color: #111;
            }

        .navbar-primary-menu,
        .navbar-primary-menu li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .navbar-primary-menu li a {
                display: block;
                padding: 10px 18px;
                text-align: left;
                border-bottom: solid 1px #444;
                color: #ccc;
            }

                .navbar-primary-menu li a:hover {
                    background-color: #000;
                    text-decoration: none;
                    color: white;
                }

                .navbar-primary-menu li a .glyphicon {
                    margin-right: 6px;
                }

                .navbar-primary-menu li a:hover .glyphicon {
                    color: orchid;
                }

        .main-content {
            margin-top: 60px;
            margin-left: @_marginleft;
            padding: 20px;
        }

        .collapsed + .main-content {
            margin-left: 60px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    @if (Request.IsAuthenticated)
    {
        <nav class="navbar-primary">
            <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
            <ul class="navbar-primary-menu">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Главная</span></a>
                    @Html.ActionLink("Автомобили", "Index", "Vehicle", null, new { @class = "nav-link" })
                </li>
            </ul>
        </nav>
    }


    <div class="container body-content main-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>

        $('.btn-expand-collapse').click(function (e) {
            $('.navbar-primary').toggleClass('collapsed');
        });


    </script>



    @RenderSection("scripts", required: false)
</body>
</html>
