@*@model IEnumerable<MVCAuto.Models.ColorVehicle>*@
@model IEnumerable<MVCAuto.Library.Models.ColorVehicle>

@{
    ViewBag.Title = "Цвета автомобилей";
}

<h2>Цвета автомобилей</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ColorId }) |
                @Html.ActionLink("Детально", "Details", new { id = item.ColorId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ColorId })
            </td>
        </tr>
    }

</table>
